In [1]:
import pandas as pd
import numpy as np
import pandas_ta as ta
pd.options.mode.chained_assignment = None

ModuleNotFoundError: No module named 'pandas'

In [2]:
df = pd.read_csv('NVDA_Jan.csv')

In [3]:

fema = 12
sema = 24

lookback = 4

RSIBaseBanker       = 50
RSIPeriodBanker     = 50
RSIBaseHotMoney     = 30
RSIPeriodHotMoney   = 40
SensitivityBanker   = 1.5
SensitivityHotMoney = 0.7

def rsi_function(sensitivity, rsi_period, rsi_base, close_prices):
    rsi_values = sensitivity * (ta.rsi(close_prices, length=rsi_period) - rsi_base)
    rsi_values[rsi_values > 20] = 20
    rsi_values[rsi_values < 0] = 0
    return rsi_values

In [4]:
df['fastEma'] = df["Close"].ewm(span=fema).mean()
df['slowEma'] = df["Close"].ewm(span=sema).mean()
df

,Time,Open,High,Low,Close,fastEma,slowEma
0,2024-01-02 04:00:00-05:00,493.74,495.20,493.74,494.72,494.720000,494.720000
1,2024-01-02 04:01:30-05:00,494.85,494.85,494.83,494.83,494.779583,494.777292
2,2024-01-02 04:02:00-05:00,495.25,495.25,494.95,494.95,494.846097,494.839722
3,2024-01-02 04:02:15-05:00,495.22,495.22,495.22,495.22,494.964124,494.946991
4,2024-01-02 04:03:15-05:00,495.28,495.28,495.28,495.28,495.049946,495.025135
...,...,...,...,...,...,...,...
95128,2024-02-21 19:58:45-05:00,735.91,735.97,735.80,735.80,735.582492,735.633477
95129,2024-02-21 19:59:00-05:00,735.87,736.00,735.51,736.00,735.646724,735.662799
95130,2024-02-21 19:59:15-05:00,736.00,736.00,735.85,736.00,735.701074,735.689775
95131,2024-02-21 19:59:30-05:00,735.97,736.00,735.78,735.94,735.737832,735.709793
95132,2024-02-21 19:59:45-05:00,735.85,735.94,735.74,735.94,735.768935,735.728209

In [5]:
df['Time'] =pd.to_datetime(df['Time'])
df = df.set_index('Time')

In [6]:
df['RSI'] = ta.rsi(df['Close'], length=14)
df

,Open,High,Low,Close,fastEma,slowEma,RSI
Time,,,,,,,
2024-01-02 04:00:00-05:00,493.74,495.20,493.74,494.72,494.720000,494.720000,NaN
2024-01-02 04:01:30-05:00,494.85,494.85,494.83,494.83,494.779583,494.777292,NaN
2024-01-02 04:02:00-05:00,495.25,495.25,494.95,494.95,494.846097,494.839722,NaN
2024-01-02 04:02:15-05:00,495.22,495.22,495.22,495.22,494.964124,494.946991,NaN
2024-01-02 04:03:15-05:00,495.28,495.28,495.28,495.28,495.049946,495.025135,NaN
...,...,...,...,...,...,...,...
2024-02-21 19:58:45-05:00,735.91,735.97,735.80,735.80,735.582492,735.633477,52.276402
2024-02-21 19:59:00-05:00,735.87,736.00,735.51,736.00,735.646724,735.662799,55.325863
2024-02-21 19:59:15-05:00,736.00,736.00,735.85,736.00,735.701074,735.689775,55.325863
2024-02-21 19:59:30-05:00,735.97,736.00,735.78,735.94,735.737832,735.709793,54.122604
2024-02-21 19:59:45-05:00,735.85,735.94,735.74,735.94,735.768935,735.728209,54.122604

In [ ]:

fema = 12
sema = 24

lookback = 4

RSIBaseBanker       = 50
RSIPeriodBanker     = 50
RSIBaseHotMoney     = 30
RSIPeriodHotMoney   = 40
SensitivityBanker   = 1.5
SensitivityHotMoney = 0.7

def rsi_function(sensitivity, rsi_period, rsi_base, close_prices):
    rsi_values = sensitivity * (ta.rsi(close_prices, length=rsi_period) - rsi_base)
    rsi_values[rsi_values > 20] = 20
    rsi_values[rsi_values < 0] = 0
    return rsi_values

In [7]:
df['Banker'] = (rsi_function(SensitivityBanker, RSIPeriodBanker, RSIBaseBanker, df['Close']) / 20)*100
df['Retail'] = 100 -((rsi_function(SensitivityHotMoney, RSIPeriodHotMoney, RSIBaseHotMoney, df['Close']) / 20)*100 )
df

,Open,High,Low,Close,fastEma,slowEma,RSI,Banker,Retail
Time,,,,,,,,,
2024-01-02 04:00:00-05:00,493.74,495.20,493.74,494.72,494.720000,494.720000,NaN,NaN,NaN
2024-01-02 04:01:30-05:00,494.85,494.85,494.83,494.83,494.779583,494.777292,NaN,NaN,NaN
2024-01-02 04:02:00-05:00,495.25,495.25,494.95,494.95,494.846097,494.839722,NaN,NaN,NaN
2024-01-02 04:02:15-05:00,495.22,495.22,495.22,495.22,494.964124,494.946991,NaN,NaN,NaN
2024-01-02 04:03:15-05:00,495.28,495.28,495.28,495.28,495.049946,495.025135,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2024-02-21 19:58:45-05:00,735.91,735.97,735.80,735.80,735.582492,735.633477,52.276402,16.952256,25.149482
2024-02-21 19:59:00-05:00,735.87,736.00,735.51,736.00,735.646724,735.662799,55.325863,23.798503,21.177089
2024-02-21 19:59:15-05:00,736.00,736.00,735.85,736.00,735.701074,735.689775,55.325863,23.798503,21.177089
2024-02-21 19:59:30-05:00,735.97,736.00,735.78,735.94,735.737832,735.709793,54.122604,21.430687,22.521541
2024-02-21 19:59:45-05:00,735.85,735.94,735.74,735.94,735.768935,735.728209,54.122604,21.430687,22.521541

In [8]:
delta = df['Close'] - df['Close'].shift(lookback)
df['Angle'] = np.arctan(delta/ta.atr(df.High,df.Low,df.Close,lookback))*180/np.pi

In [9]:
delta = df['Low'] - df['Low'].shift(lookback)
df['Angle_Low'] = np.arctan(delta/ta.atr(df.High,df.Low,df.Close,lookback))*180/np.pi

In [10]:
delta = df['High'] - df['High'].shift(lookback)
df['Angle_High'] = np.arctan(delta/ta.atr(df.High,df.Low,df.Close,lookback))*180/np.pi

In [17]:
# df['tr'] = pd.concat([df['High'], df['Close'].shift()], axis=1).max(axis=1) \
#            - pd.concat([df['Low'], df['Close'].shift()], axis=1).min(axis=1)
# df['tr0'] = abs(df['High']-df['Low'])
# df['tr1'] = abs(df['High'] - df['Close'].shift())
# df['tr2'] = abs(df['Low'] - df['Close'].shift())
# tr = data[['tr0', 'tr1', 'tr2']].max(axis=1)

In [19]:
df['tr'] = np.maximum.reduce([
    abs(df['High'] - df['Low']),
    abs(df['High'] - df['Close'].shift()),
    abs(df['Low'] - df['Close'].shift())
])

In [18]:
df

,Time,Open,High,Low,Close,tr,tr0,tr1,tr2
0,2024-01-02 04:00:00-05:00,493.74,495.20,493.74,494.72,NaN,1.46,NaN,NaN
1,2024-01-02 04:01:30-05:00,494.85,494.85,494.83,494.83,0.13,0.02,0.13,0.11
2,2024-01-02 04:02:00-05:00,495.25,495.25,494.95,494.95,0.42,0.30,0.42,0.12
3,2024-01-02 04:02:15-05:00,495.22,495.22,495.22,495.22,0.27,0.00,0.27,0.27
4,2024-01-02 04:03:15-05:00,495.28,495.28,495.28,495.28,0.06,0.00,0.06,0.06
...,...,...,...,...,...,...,...,...,...
95128,2024-02-21 19:58:45-05:00,735.91,735.97,735.80,735.80,0.17,0.17,0.00,0.17
95129,2024-02-21 19:59:00-05:00,735.87,736.00,735.51,736.00,0.49,0.49,0.20,0.29
95130,2024-02-21 19:59:15-05:00,736.00,736.00,735.85,736.00,0.15,0.15,0.00,0.15
95131,2024-02-21 19:59:30-05:00,735.97,736.00,735.78,735.94,0.22,0.22,0.00,0.22
95132,2024-02-21 19:59:45-05:00,735.85,735.94,735.74,735.94,0.20,0.20,0.00,0.20

In [12]:
df['atr'] = ta.atr(df.High,df.Low,df.Close,14)
df

,Open,High,Low,Close,fastEma,slowEma,RSI,Banker,Retail,Angle,Angle_Low,Angle_High,tr,atr
Time,,,,,,,,,,,,,,
2024-01-02 04:00:00-05:00,493.74,495.20,493.74,494.72,494.720000,494.720000,NaN,NaN,NaN,NaN,NaN,NaN,1.46,NaN
2024-01-02 04:01:30-05:00,494.85,494.85,494.83,494.83,494.779583,494.777292,NaN,NaN,NaN,NaN,NaN,NaN,0.13,NaN
2024-01-02 04:02:00-05:00,495.25,495.25,494.95,494.95,494.846097,494.839722,NaN,NaN,NaN,NaN,NaN,NaN,0.42,NaN
2024-01-02 04:02:15-05:00,495.22,495.22,495.22,495.22,494.964124,494.946991,NaN,NaN,NaN,NaN,NaN,NaN,0.27,NaN
2024-01-02 04:03:15-05:00,495.28,495.28,495.28,495.28,495.049946,495.025135,NaN,NaN,NaN,68.552264,81.869898,19.983107,0.06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-21 19:58:45-05:00,735.91,735.97,735.80,735.80,735.582492,735.633477,52.276402,16.952256,25.149482,3.790859,44.824578,29.402939,0.17,0.402973
2024-02-21 19:59:00-05:00,735.87,736.00,735.51,736.00,735.646724,735.662799,55.325863,23.798503,21.177089,35.635274,-4.914715,35.635274,0.49,0.409189
2024-02-21 19:59:15-05:00,736.00,736.00,735.85,736.00,735.701074,735.689775,55.325863,23.798503,21.177089,33.764123,48.655880,33.764123,0.15,0.390676
2024-02-21 19:59:30-05:00,735.97,736.00,735.78,735.94,735.737832,735.709793,54.122604,21.430687,22.521541,-6.129165,6.129165,6.129165,0.22,0.378485
2024-02-21 19:59:45-05:00,735.85,735.94,735.74,735.94,735.768935,735.728209,54.122604,21.430687,22.521541,28.344204,-13.017429,-6.593801,0.20,0.365736

In [13]:
df = df.between_time("9:30", "15:58")
df

,Open,High,Low,Close,fastEma,slowEma,RSI,Banker,Retail,Angle,Angle_Low,Angle_High,tr,atr
Time,,,,,,,,,,,,,,
2024-01-02 09:30:00-05:00,492.4400,492.9500,491.4000,491.7300,492.419808,492.667285,31.955445,0.000000,54.748985,-45.155964,-57.793391,48.906303,1.5500,0.344445
2024-01-02 09:30:15-05:00,491.6800,492.4000,491.6800,491.9500,492.347530,492.609902,37.089486,0.000000,48.830942,-42.265256,-53.571818,-9.382793,0.7200,0.371270
2024-01-02 09:30:30-05:00,491.9250,492.3150,491.2500,491.5200,492.220217,492.522710,32.006342,0.000000,57.586274,-53.690408,-60.053439,-14.407536,1.0650,0.420822
2024-01-02 09:30:45-05:00,491.3250,491.7279,491.1878,491.7100,492.141722,492.457693,36.169111,0.000000,52.566643,-45.206091,-56.812715,-56.554122,0.5401,0.429342
2024-01-02 09:31:00-05:00,491.6623,492.4900,491.4700,492.4600,492.190688,492.457878,49.350988,0.000000,34.554662,43.795967,5.253156,-31.140141,1.0200,0.471532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-21 15:57:00-05:00,674.6800,675.1000,674.4200,674.8900,674.975979,674.783818,51.721798,39.092119,13.513143,-50.172051,-51.610371,-48.323893,0.6800,0.743699
2024-02-21 15:57:15-05:00,674.8900,674.9800,674.0000,674.1132,674.843244,674.730168,44.419144,20.411512,24.103997,-42.231466,-42.905388,-50.553602,0.9800,0.760578
2024-02-21 15:57:30-05:00,674.0700,674.3500,673.8401,674.0400,674.719668,674.674955,43.791685,18.703703,25.065837,-24.504060,-30.727464,-44.353489,0.5099,0.742672
2024-02-21 15:57:45-05:00,674.0400,674.8099,673.9831,674.6000,674.701258,674.668959,49.651251,30.324898,18.254816,-10.962780,-20.983735,-19.228791,0.8268,0.748681
2024-02-21 15:58:00-05:00,674.6000,674.7000,674.2800,674.5400,674.676449,674.658642,49.061118,28.884661,19.073085,-27.038425,-11.538282,-30.254181,0.4200,0.725204

In [14]:
df

,Open,High,Low,Close,fastEma,slowEma,RSI,Banker,Retail,Angle,Angle_Low,Angle_High,tr,atr
Time,,,,,,,,,,,,,,
2024-01-02 09:30:00-05:00,492.4400,492.9500,491.4000,491.7300,492.419808,492.667285,31.955445,0.000000,54.748985,-45.155964,-57.793391,48.906303,1.5500,0.344445
2024-01-02 09:30:15-05:00,491.6800,492.4000,491.6800,491.9500,492.347530,492.609902,37.089486,0.000000,48.830942,-42.265256,-53.571818,-9.382793,0.7200,0.371270
2024-01-02 09:30:30-05:00,491.9250,492.3150,491.2500,491.5200,492.220217,492.522710,32.006342,0.000000,57.586274,-53.690408,-60.053439,-14.407536,1.0650,0.420822
2024-01-02 09:30:45-05:00,491.3250,491.7279,491.1878,491.7100,492.141722,492.457693,36.169111,0.000000,52.566643,-45.206091,-56.812715,-56.554122,0.5401,0.429342
2024-01-02 09:31:00-05:00,491.6623,492.4900,491.4700,492.4600,492.190688,492.457878,49.350988,0.000000,34.554662,43.795967,5.253156,-31.140141,1.0200,0.471532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-21 15:57:00-05:00,674.6800,675.1000,674.4200,674.8900,674.975979,674.783818,51.721798,39.092119,13.513143,-50.172051,-51.610371,-48.323893,0.6800,0.743699
2024-02-21 15:57:15-05:00,674.8900,674.9800,674.0000,674.1132,674.843244,674.730168,44.419144,20.411512,24.103997,-42.231466,-42.905388,-50.553602,0.9800,0.760578
2024-02-21 15:57:30-05:00,674.0700,674.3500,673.8401,674.0400,674.719668,674.674955,43.791685,18.703703,25.065837,-24.504060,-30.727464,-44.353489,0.5099,0.742672
2024-02-21 15:57:45-05:00,674.0400,674.8099,673.9831,674.6000,674.701258,674.668959,49.651251,30.324898,18.254816,-10.962780,-20.983735,-19.228791,0.8268,0.748681
2024-02-21 15:58:00-05:00,674.6000,674.7000,674.2800,674.5400,674.676449,674.658642,49.061118,28.884661,19.073085,-27.038425,-11.538282,-30.254181,0.4200,0.725204

In [15]:
def V(closes,opens,tr,atr,startCount,countCandleV):
    v = False
    if countCandleV >= 3 and countCandleV <= 8 and closes > opens:
        v = 'V'
    if -tr < -atr:
        startCount = 1
    if closes < opens and startCount == 1: 
        countCandleV = countCandleV + 1
    else:
        countCandleV = 0
        startCount = 0

    return(v,countCandleV,startCount)

In [16]:
def V_upsidedown(closes,opens,tr,atr,startCount,countCandleV):
    v = False
    if countCandleV >= 3 and countCandleV <= 8 and closes < opens:
        v = True
    if tr > atr:
        startCount = 1
    if closes > opens and startCount == 1: 
        countCandleV = countCandleV + 1
    else:
        countCandleV = 0
        startCount = 0

    return(v,countCandleV,startCount)

In [17]:
def turtle_shell(angleLow1,angleLow2,angleLow3):
    if angleLow1 < 0 and angleLow2 >= 0 and angleLow3 > 0:
        return(True)
    else:
        return(False)

In [18]:
def turtle_shell_down(angleLow1,angleLow2,angleLow3):
    if angleLow1 > 0 and angleLow2 <=0 and angleLow3 < 0:
        return(True)
    else:
        return(False)

In [19]:
from dateutil.relativedelta import relativedelta

def search_divergence(df, current_idx, search):

    current_day = df.index[current_idx]
    training_data = df.loc[current_day-relativedelta(minutes=60):current_day] # Training data
    # print(current_day)
    if search=="bullish":
        idx = np.argsort(np.abs(training_data.RSI - training_data.RSI.min()))
        closest_idx = idx[0] # x_1
        second_closest_idx = idx[1] # x_2
        ### Slope
        price_slope = (training_data.Low[second_closest_idx] - training_data.Low[closest_idx]) / (second_closest_idx - closest_idx)
        rsi_slope = (training_data.RSI[second_closest_idx] - training_data.RSI[closest_idx]) / (second_closest_idx - closest_idx)

        if (price_slope<0 and rsi_slope>0):
            if training_data.RSI[closest_idx]<=30 or training_data.RSI[second_closest_idx]<=30:
                return True
            else:
                return False
        else:
            return False

    elif search=="bearish":
        idx = np.argsort(np.abs(training_data.RSI - training_data.RSI.max()))
        closest_idx = idx[0] # x_1
        second_closest_idx = idx[1] # x_2
        ### Slope
        price_slope = (training_data.High[second_closest_idx] - training_data.High[closest_idx]) / (second_closest_idx - closest_idx)
        rsi_slope = (training_data.RSI[second_closest_idx] - training_data.RSI[closest_idx]) / (second_closest_idx - closest_idx)

        if (price_slope>0 and rsi_slope<0) and (training_data.RSI[closest_idx]>=70 or training_data.RSI[second_closest_idx]>=70):
            return True
        else:
            return False

In [20]:
### For zig zag pattern
def _identify_initial_pivot(
    X,
    up_thresh,
    down_thresh
):
    x_0 = X[0]
    max_x = x_0
    max_t = 0
    min_x = x_0
    min_t = 0
    up_thresh += 1
    down_thresh += 1

    PEAK, VALLEY = 1, -1

    for t in range(1, len(X)):
        x_t = X[t]

        if x_t / min_x >= up_thresh:
            return VALLEY if min_t == 0 else PEAK

        if x_t / max_x <= down_thresh:
            return PEAK if max_t == 0 else VALLEY

        if x_t > max_x:
            max_x = x_t
            max_t = t

        if x_t < min_x:
            min_x = x_t
            min_t = t

    t_n = len(X)-1
    return VALLEY if x_0 < X[t_n] else PEAK

### Zig zag indicator
def peak_valley_pivots_candlestick(
    df,
    close,
    high,
    low,
    up_thresh,
    down_thresh
):
    if down_thresh > 0:
        raise ValueError('The down_thresh must be negative.')

    initial_pivot = _identify_initial_pivot(close, up_thresh, down_thresh)

    t_n = len(close)
    pivots = np.zeros(t_n, dtype='i1')
    pivots[0] = initial_pivot

    # Adding one to the relative change thresholds saves operations. Instead
    # of computing relative change at each point as x_j / x_i - 1, it is
    # computed as x_j / x_1. Then, this value is compared to the threshold + 1.
    # This saves (t_n - 1) subtractions.
    up_thresh += 1
    down_thresh += 1

    trend = -initial_pivot
    last_pivot_t = 0
    last_pivot_x = close[0]
    for t in range(1, len(close)):

        if trend == -1:
            x = low[t]
            r = x / last_pivot_x
            if r >= up_thresh:
                pivots[last_pivot_t] = trend#
                trend = 1
                #last_pivot_x = x
                last_pivot_x = high[t]
                last_pivot_t = t
            elif x < last_pivot_x:
                last_pivot_x = x
                last_pivot_t = t
        else:
            x = high[t]
            r = x / last_pivot_x
            if r <= down_thresh:
                pivots[last_pivot_t] = trend
                trend = -1
                #last_pivot_x = x
                last_pivot_x = low[t]
                last_pivot_t = t
            elif x > last_pivot_x:
                last_pivot_x = x
                last_pivot_t = t

    if last_pivot_t == t_n-1:
        pivots[last_pivot_t] = trend
    elif pivots[t_n-1] == 0:
        pivots[t_n-1] = trend
    return pivots

In [21]:
# for i in range(60*4,len(df)-1):
#     # if search_divergence(df,i,'bullish'):
#     print(search_divergence(df,i,'bullish'))

In [22]:
def KTM16_2_0(angle,fast_ema,slow_ema):
    if fast_ema>slow_ema and angle >= 45:
        return('Buy 2.0')
    else:
        return(False)

In [23]:
def KTM16_2_1(V):
    if V == True:
        return('Buy 2.1')
    else:
        return(False)

In [24]:
def KTM16_2_2(divergence,rsi):
    if divergence and rsi<=30:
        return('Buy 2.3')
    else:
        return(False)

In [25]:
def KTM16_2_3(V,rsi):
    if V and rsi<=30:
        return('Buy 2.3')
    else:
        return(False)

In [26]:
def KTM16_2_4(emaFast,emaSlow,turtle,rsi):
    if turtle and emaFast<emaSlow and rsi <= 50:
        return('Buy 2.4')
    else:
        return(False)

In [27]:
def KTM16_2_5(close30,close,yp20,emaFast,emaSlow):
#     #Ema croosover     
#     if 
#     # emaFast > emaSlow:
#     # close30 > close * (1+yp20*0.01) and 
   
#         return('Buy 2.5')
#     else:
    return(False)

In [28]:
def KTM16_2_6(close30,close,yp20,retail,banker,emaFast,emaSlow):
    if close30 > close * (1+yp20*0.01) and emaFast > emaSlow and retail <= 37.5 and banker >= 10:
        return('Buy 2.6')
    else:
        return(False)

In [29]:
def KTM16_2_7():
    return(False)

In [30]:
def KTM16_2_8():
    return(False)

In [31]:
# Stop Loss
def KTM16_2_9(buyPrice,close):
    if close > buyPrice * 1.002:
        return(buyPrice)
    else:
        return(buyPrice*0.097)

In [32]:
def KTM16_3_1(vusd):
    if vusd:
        return('Sell 3.1')
    else:
        return(False)

In [33]:
def KTM16_3_2(divergence_bear,rsi):
    if divergence_bear and rsi>=70:
        return('sell 3.2')
    else:
        return(False)

In [34]:
# V 
def KTM16_3_3(vusd,rsi):
    if vusd and rsi >= 70:
        return('sell 3.3')
    else:
        return(False)

In [35]:
def KTM16_3_4(shell_down,rsi):
    if shell_down and rsi > 50:
        return('sell 3.4')
    else:
        return(False)

In [36]:
# ไปแก้ตาม Zigzag
def KTM16_3_5(close30,close,yp20,dff):
    zigzag = False
    if len(dff[dff['pivot']!=0])>4:
        pivot_last3 = dff[dff['pivot']!=0][-4:-1]
    if pivot_last3['pivot'][0] == 1 and  pivot_last3['pivot'][1] == -1 and pivot_last3['pivot'][2] == 1 and pivot_last3['Low'][0]> pivot_last3['Low'][2] and close30 < close * 1 + 0.01 * yp20:
        return('sell 3.5')
    else:
        return(False)

In [37]:
def KTM16_3_6(close30,close,yp20,emaFast,emaSlow):
    #emacrossunder
    # if emaFast < emaSlow :
    # # and close30 < close * 1 + 0.01 * yp20:
    #     return('sell 3.6')
    # else:
        return(False)

In [38]:
df['crossover'] = (df['slowEma'] < df['fastEma']) & (df['fastEma'].shift(1) < df['slowEma'].shift(1))


# last_crossover_index = crossover[crossover].index[-1]
# last_crossover_close_price = df.loc[last_crossover_index, 'Close']

In [39]:
from datetime import time
j = 250
print(df.iloc[j].name.time())
print(df.iloc[18].name.time() >= time(10, 0, 0))

10:32:30
False

In [ ]:
def V(closes,opens,tr,atr,startCount,countCandleV):
    v = False
    if countCandleV >= 3 and countCandleV <= 8 and closes > opens:
        v = 'V'
    if -tr < -atr:
        startCount = 1
    if closes < opens and startCount == 1: 
        countCandleV = countCandleV + 1
    else:
        countCandleV = 0
        startCount = 0

    return(v,countCandleV,startCount)

In [40]:
countCandleV,startCount = 0,0
countCandleVusd,startCountusd = 0,0
yp20_down = 0.92 
yp20= 1
action = []

for group in df.groupby(df.index.date):
    try:
        countCandleV,startCount = 0,0
        countCandleVusd,startCountusd = 0,0

        df_day = group[1]
        print(df_day.iloc[-1].name.date())
        for i in range(1,len(df_day)):
            dff=df_day.iloc[:i,:]
            if dff.iloc[-1].name.time() > time(9, 30, 0):
                bull_div = search_divergence(dff, -1, "bullish")
                bear_div = search_divergence(dff, -1, "bearish")

                v,countCandleV,startCount = V(dff.iloc[-1]['Close'],dff.iloc[-1]['Open'],dff.iloc[-1]['tr'],dff.iloc[-1]['atr'],startCount,countCandleV)
                vusd,countCandleVusd,startCountusd = V_upsidedown(dff.iloc[-1]['Close'],dff.iloc[-1]['Open'],dff.iloc[-1]['tr'],dff.iloc[-1]['atr'],startCount,countCandleV)
                dff['pivot'] = peak_valley_pivots_candlestick(dff,dff['Close'],dff['High'],dff['Low'],0.003,-0.003)
                if dff.iloc[-1].name.time() > time(9, 31, 0):
                    shell_up = turtle_shell(dff.iloc[-3]['Angle_Low'],dff.iloc[-2]['Angle_Low'],dff.iloc[-1]['Angle_Low'])
                    shell_down = turtle_shell_down(dff.iloc[-3]['Angle_Low'],dff.iloc[-2]['Angle_Low'],dff.iloc[-1]['Angle_Low'])
                else:
                    shell_up = False
                    shell_down = False

                B20 = KTM16_2_0(dff.iloc[-1]['Angle'],dff.iloc[-1]['fastEma'],dff.iloc[-1]['slowEma'])

                B21 = KTM16_2_1(v)
                B22 = KTM16_2_2(bear_div,dff.iloc[-1]['RSI'])
                B23 = KTM16_2_3(v,dff.iloc[-1]['RSI'])
                B24 = KTM16_2_4(dff.iloc[-1]['fastEma'],dff.iloc[-1]['slowEma'],shell_up,dff.iloc[-1]['RSI'])
                S31 = KTM16_3_1(vusd)
                S32 = KTM16_3_2(bear_div,dff.iloc[-1]['RSI'])
                S33 = KTM16_3_3(vusd,dff.iloc[-1]['RSI'])
                S34 = KTM16_3_4(shell_down,dff.iloc[-1]['RSI'])
                if dff.iloc[-1].name.time() > time(10, 0, 0):
                    B25 = KTM16_2_5(dff.iloc[-1*30*4]['Close'],dff.iloc[-1]['Close'],yp20_down,dff.iloc[-1]['fastEma'],dff.iloc[-1]['slowEma'])
                    B26 = KTM16_2_6(dff.iloc[-1*30*4]['Close'],dff.iloc[-1]['Close'],yp20_down,dff.iloc[-1]['Retail'],dff.iloc[-1]['Banker'],dff.iloc[-1]['fastEma'],dff.iloc[-1]['slowEma'])
                    S36 = KTM16_3_6(dff.iloc[-1*30*4]['Close'],dff.iloc[-1]['Close'],yp20_down,dff.iloc[-1]['fastEma'],dff.iloc[-1]['slowEma'])
                    S35 = KTM16_3_5(dff.iloc[-1*30*4]['Close'],dff.iloc[-1]['Close'],yp20,dff)
                else:
                    B25 = False
                    B26 = False
                    S36 = False
                    S35 = False
    except:
        print('error',df_day.iloc[-1].name.date())

2024-01-02
2024-01-03
2024-01-04
error 2024-01-04
2024-01-05
2024-01-08
2024-01-09
2024-01-10
error 2024-01-10
2024-01-11
error 2024-01-11
2024-01-12
2024-01-16
2024-01-17
2024-01-18
2024-01-19
2024-01-22
2024-01-23
2024-01-24
2024-01-25
2024-01-26
2024-01-29
error 2024-01-29
2024-01-30
2024-01-31
2024-02-01
2024-02-02
2024-02-05
2024-02-06
2024-02-07
2024-02-08
2024-02-09
2024-02-12
2024-02-13
2024-02-14
2024-02-15
2024-02-16
2024-02-20
error 2024-02-20
2024-02-21